

<h2> ROCK-PAPER-SCISSORS GAME</h2>
<h3> The rules of the game: </h3>

  <p>Rock beats scissors</p>
  <p>Scissors beat paper</p>
  <p>Paper beats rock</p>


  <h4> Enter into the URL bar: localhost:4567/game/"rock" or "scissors" or "paper"/"rock" or "scissors" or "paper" <h4>
